@media (min-width: 200px) and (max-width: 870px) {
  .crm-search-results th {
    display: none;
  }
  .crm-search-results tr {
    display: block;
    border: 1px black solid;
    padding: 1em;
    width: 100%;
  }
  .crm-search-results td {
    display: block;
    border: none;
    font-size: 15px;
  }
  .crm-search-results .crm-icon {
    display: none;
  }
  .crm-search-results .crm-sort_name {
    font-size: 20px;
    font-weight: bold;
  }
  .crm-container tr.even-row td, .crm-container tr.odd-row td, .crm-container table.display td, .crm-container table.pagerDisplay td {
    border: none;
  }

  .crm-container .crm-pager {
    height: auto;
  }
}
