@media (min-width: 200px) and (max-width: 870px) {
  .crm-search-results th {
    display: none;
  }
  .crm-search-results tr {
    display: block;
    border: 1px black solid;
    padding: 1em;
    width: 100%;
  }
  .crm-search-results td {
    display: block;
  }
  .crm-search-results .crm-icon {
    display: none;
  }
}
